<br><br><br>
<h4 style="text-align: right"> Total Tweet Number: {{vm.retweets.total_tweet}} </h4>
<!-- <div id="averagetweets"> Moyenne de retweet par Tweet : {{vm.retweets.retweet_average}} </div> -->

<h2 style="text-align:center">Tweets Number by langage</h2>
<br><br>
<div class="row">
  <div class="col-xs-4">
    <div id="GotLanguageCharts"> LanguageCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="VinkingsLanguageCharts"> LanguageCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="walkingdeadLanguageCharts"> LanguageCharts </div>
  </div>
</div>

<!-- <div id="test"> Test : {{vm.tweetsbydate}} </div> -->



<!-- <div id="BaseCharts">Placeholder for chart</div> -->
