  <div id="container">Placeholder for chart</div>

  <div id="result"></div>
    <table id="table-sparkline">
      <thead>
      <tr>
        <th>Séries</th>
        <th>Nombre de Tweets</th>
        <th>Nombre de Tweets par périodes</th>
      </tr>
      </thead>
      <tbody id="tbody-sparkline">
      <tr>
        <th>Alabama</th>
        <td>254</td>
        <td data-sparkline="71, 78, 39, 66 "/>
      </tr>
      <tr>
        <th>Alaska</th>
        <td>246</td>
        <td data-sparkline="87, 44, 74, 41 "/>
      </tr>
      <tr>
        <th>Arizona</th>
        <td>101</td>
        <td data-sparkline="56, 12, 8, 25 "/>
      </tr>
      <tr>
        <th>Arkansas</th>
        <td>303</td>
        <td data-sparkline="81, 50, 78, 94 "/>
      </tr>
      <tr>
        <th>California</th>
        <td>200</td>
        <td data-sparkline="61, 80, 10, 49 "/>
      </tr>
      </tbody>
    </table>
