<br><br><br>
<h4 style="text-align: right"> Total Tweet Number: {{vm.retweets.total_tweet}} </h4>
<!-- <div id="averagetweets"> Moyenne de retweet par Tweet : {{vm.retweets.retweet_average}} </div> -->

<h2 style="text-align:center">Tweets Number by langage</h2>
<br><br>
<div class="row">
  <div class="col-xs-4">
    <div id="GotLanguageCharts"> LanguageCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="VinkingsLanguageCharts"> LanguageCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="walkingdeadLanguageCharts"> LanguageCharts </div>
  </div>
</div>

<br><br>

<h2 style="text-align:center">Tweets Number by character</h2>
<br><br>
<div class="row">
  <div class="col-xs-4">
    <div id="VinkingsCharactersCharts"> CharactersCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="GOTCharactersCharts"> CharactersCharts </div>
  </div>
  <div class="col-xs-4">
    <div id="WalkingDeadCharactersCharts"> CharactersCharts </div>
  </div>
</div>

<h2 style="text-align:center">French Tweets</h2>
<br><br>
<div id="seriesByFrTweets" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<!-- <div id="test"> Test : {{vm.tweetsbydate}} </div> -->



<!-- <div id="BaseCharts">Placeholder for chart</div> -->
